
body {
  background-color: lightblue;
}

div.logo {
    width: 350px;
    height: 150px;
    background-image: url("http://localhost:8000/dino_feed_reader-main/res/img/dino_header_white_350X150.png");
}